.shell-transparency {
    background-color: rgba(0,0,0,0);
    border: 0px solid rgba(0,0,0,0);
    -panel-corner-background-color: rgba(0,0,0,0);
    -panel-corner-border-color: rgba(0,0,0,0);
}

.shell-transparency .show-apps:checked .overview-icon {
    background-color: rgba(0,0,0,0);
}